<article class="about  active" data-page="about">
  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">
    {% for line in site.data.profile.bio | newline_to_br | split: '<br />' %}
    <p>{{ line }}</p>
    {% endfor %}
  </section>

  <section class="service">
    <h3 class="h3 service-title">What I'm doing</h3>
    <ul class="service-list">
      {% for s in site.data.profile.services %}
      <li class="service-item">
        <div class="service-icon-box"><img src="{{ s.icon }}" alt="{{ s.title }} icon" width="40"></div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">{{ s.title }}</h4>
          <p class="service-item-text">{{ s.description }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  

</article>


