<article class="about  active" data-page="about">
  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>

  <section class="about-text">
    {% for line in site.data.profile.bio | newline_to_br | split: '<br />' %}
    <p>{{ line }}</p>
    {% endfor %}
  </section>

  <section class="service">
    <h3 class="h3 service-title">What I'm doing</h3>
    <ul class="service-list">
      {% for s in site.data.profile.services %}
      <li class="service-item">
        <div class="service-icon-box"><img src="{{ s.icon }}" alt="{{ s.title }} icon" width="40"></div>
        <div class="service-content-box">
          <h4 class="h4 service-item-title">{{ s.title }}</h4>
          <p class="service-item-text">{{ s.description }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section class="testimonials">
  <h3 class="h3 testimonials-title">Testimonials</h3>
  <ul class="testimonials-list has-scrollbar">
    <li class="testimonials-item">
      <div class="content-card" data-testimonials-item>
        <figure class="testimonials-avatar-box">
          <img src="/assets/images/avatar-1.png" alt="Daniel lewis" width="60" data-testimonials-avatar>
        </figure>
        <h4 class="h4 testimonials-item-title" data-testimonials-title>Daniel lewis</h4>
        <div class="testimonials-text" data-testimonials-text>
          <p>Richard was hired to create a corporate identity. We were very pleased with the work done...</p>
        </div>
      </div>
    </li>
    <li class="testimonials-item">
      <div class="content-card" data-testimonials-item>
        <figure class="testimonials-avatar-box">
          <img src="/assets/images/avatar-2.png" alt="Jessica miller" width="60" data-testimonials-avatar>
        </figure>
        <h4 class="h4 testimonials-item-title" data-testimonials-title>Jessica miller</h4>
        <div class="testimonials-text" data-testimonials-text>
          <p>Richard was hired to create a corporate identity. We were very pleased with the work done...</p>
        </div>
      </div>
    </li>
  </ul>
  </section>

  <div class="modal-container" data-modal-container>
  <div class="overlay" data-overlay></div>
  <section class="testimonials-modal">
    <button class="modal-close-btn" data-modal-close-btn>
      <ion-icon name="close-outline"></ion-icon>
    </button>
    <div class="modal-img-wrapper">
      <figure class="modal-avatar-box">
        <img src="/assets/images/avatar-1.png" alt="Daniel lewis" width="80" data-modal-img>
      </figure>
      <img src="/assets/images/icon-quote.svg" alt="quote icon">
    </div>
    <div class="modal-content">
      <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>
      <time datetime="2021-06-14">14 June, 2021</time>
      <div data-modal-text>
        <p>Richard was hired to create a corporate identity. We were very pleased with the work done...</p>
      </div>
    </div>
  </section>
  </div>

  <section class="clients">
  <h3 class="h3 clients-title">Clients</h3>
  <ul class="clients-list has-scrollbar">
    <li class="clients-item"><a href="#"><img src="/assets/images/logo-1-color.png" alt="client logo"></a></li>
    <li class="clients-item"><a href="#"><img src="/assets/images/logo-2-color.png" alt="client logo"></a></li>
    <li class="clients-item"><a href="#"><img src="/assets/images/logo-3-color.png" alt="client logo"></a></li>
  </ul>
  </section>

</article>


