<header class="site-hero">
  <div class="hero-wrap">
    <div class="hero-left">
      <h1 class="hero-name">{{ site.data.profile.name }}</h1>
      <p class="hero-title">{{ site.data.profile.title }}</p>
      <a class="hero-email" href="mailto:{{ site.data.profile.email }}">{{ site.data.profile.email }}</a>
      <p class="hero-location">{{ site.data.profile.location }}</p>
    </div>
    <div class="hero-right">
      <img class="hero-avatar-img" src="{{ site.data.profile.avatar }}" alt="{{ site.data.profile.name }}">
    </div>
  </div>
</header>


